data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_0.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_15.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_30.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_45.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_60.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_75.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_90.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_105.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_120.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_135.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_150.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_165.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_180.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_195.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_210.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_225.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_240.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_255.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_270.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_285.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_300.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_315.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_330.png
data/images_for_lime/images_cropped/mustard/mustard_p1_d40_L2_345.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_0.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_15.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_30.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_45.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_60.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_75.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_90.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_105.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_120.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_135.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_150.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_165.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_180.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_195.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_210.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_225.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_240.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_255.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_270.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_285.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_300.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_315.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_330.png
data/images_for_lime/images_cropped/radish/radish_p4_d32_L2_345.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_0.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_15.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_30.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_45.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_60.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_75.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_90.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_105.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_120.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_135.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_150.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_165.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_180.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_195.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_210.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_225.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_240.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_255.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_270.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_285.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_300.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_315.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_330.png
data/images_for_lime/images_cropped/wheat/wheat_p3_d62_L2_345.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_0.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_15.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_30.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_45.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_60.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_75.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_90.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_105.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_120.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_135.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_150.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_165.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_180.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_195.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_210.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_225.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_240.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_255.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_270.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_285.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_300.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_315.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_330.png
data/images_for_lime/images_not_cropped/mustard/mustard_p1_d40_L2_345.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_0.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_15.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_30.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_45.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_60.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_75.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_90.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_105.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_120.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_135.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_150.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_165.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_180.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_195.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_210.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_225.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_240.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_255.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_270.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_285.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_300.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_315.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_330.png
data/images_for_lime/images_not_cropped/radish/radish_p4_d32_L2_345.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_0.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_15.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_30.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_45.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_60.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_75.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_90.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_105.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_120.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_135.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_150.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_165.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_180.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_195.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_210.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_225.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_240.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_255.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_270.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_285.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_300.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_315.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_330.png
data/images_for_lime/images_not_cropped/wheat/wheat_p3_d62_L2_345.png
